<!DOCTYPE html>
<html lang="pt">
    <head>
	  <meta charset="utf-8">
	  <title>VITHEA Kids - Módulo do Cuidador</title>
	  <base href="/vithea-kids">
	  <style>
		.main-loader-container {
		  display: flex;
		  align-items: center;
		  height: 100vh;
		  justify-content: center;
		}
		.main-loader {
		  border: 5px solid #f3f3f3; /* Light grey */
		  border-top: 5px solid #3498db; /* Blue */
		  border-radius: 50%;
		  width: 50px;
		  height: 50px;
		  animation: spin 2s linear infinite;
		  display: flex;
		  justify-content: center;
		}
	  </style>
	  <meta name="viewport" content="width=device-width, initial-scale=1">
	  <link rel="icon" type="image/x-icon" href="/vithea-kids/assets/favicon.png">
	  <link href="/vithea-kids/assets/styles.d9193af8139033a6fb66.bundle.css" rel="stylesheet"/>
    </head>
    <body>
        <app-root>
                <div class="main-loader-container">
                  <div class="main-loader"></div>
                </div>
        </app-root>
	<script type="text/javascript" src="/vithea-kids/assets/inline.5dbab559fa486f08280f.bundle.js"></script>
	<script type="text/javascript" src="/vithea-kids/assets/scripts.3e741629674290095a82.bundle.js"></script>
	<script type="text/javascript" src="/vithea-kids/assets/vendor.fefcc345116c408e45f4.bundle.js"></script>
	<script type="text/javascript" src="/vithea-kids/assets/main.f4309bdf34ad89a73a3d.bundle.js"></script>
    </body>
</html>