<loader *ngIf="loading"></loader>
<div class="container" *ngIf="!loading">
    <div class="row">
        <div class="panel-default pull-right">
            <a type="button" class="btn btn-default" (click)="goBack()">
                <span class="glyphicon glyphicon-arrow-left" style="font-size: small;" aria-hidden="true"></span> {{'_GoBack_' | translate }}
            </a>
            <button *ngIf="!sequenceId" type="button" class="btn btn-primary" [routerLink]="['/exercises/new']">
                <span class="glyphicon glyphicon-plus" style="font-size: small;" aria-hidden="true"></span> {{ '_CreateExercise_' | translate }}
            </button>
            <button type="button" class="btn btn-primary" [routerLink]="['/settings']">
                <span class="glyphicon glyphicon-edit" style="font-size: small;" aria-hidden="true"></span> {{ '_Settings_' | translate }}
            </button>
        </div>
    </div>
    <div class="row">
        <h2>{{ '_Exercises_' | translate }}</h2>
        <h3 *ngIf="sequence?.sequenceId">Aula {{sequence.sequenceName}}</h3>
    </div>

    <div class=row>
        <div class="form-group has-feedback search-container" *ngIf="exercises && exercises.length">
            <input type="text" class="form-control search-input" [(ngModel)]="searchBy" />
            <i class="glyphicon glyphicon-search form-control-feedback"></i>
        </div>
    </div>

    <div class="row">
        <div class="filters-container has-feedback search-container" *ngIf="exercises && exercises.length">
            <div class="[ form-group ] filter">
                <input type="checkbox" name="image" id="image" autocomplete="off" [(ngModel)]="imageFilter" />
                <div class="[ btn-group ]">
                    <label for="image" class="[ btn btn-primary ]">
                        <span class="[ glyphicon glyphicon-ok ] " style="font-size: small;"></span>
                        <span> </span>
                    </label>
                    <label for="image" class="[ btn btn-default active ]"> {{ "_Image_" | translate}}</label>
                </div>
            </div>
            <div class="[ form-group ] filter">
                <input type="checkbox" name="text" id="text" autocomplete="off" [(ngModel)]="textFilter" />
                <div class="[ btn-group ]">
                    <label for="text" class="[ btn btn-primary ]">
                        <span class="[ glyphicon glyphicon-ok ]" style="font-size: small;"></span>
                        <span> </span>
                    </label>
                    <label for="text" class="[ btn btn-default active ]"> {{ "_Text_" | translate}}</label>
                </div>
            </div>
        </div>
    </div>

<div class="row">
        <loader *ngIf="loading"></loader>

        <alert *ngIf="success" type="success" dismissOnTimeout="5000" (onClosed)="reset()"> {{ textSuccess }} </alert>
        <alert *ngIf="failure" type="danger" dismissOnTimeout="5000" (onClosed)="reset()"> {{ textFailure }} </alert>

        <div *ngIf="!loading">        
         <p *ngIf="exercises?.length === 0 && !sequenceId">{{ '_NoExercises_' | translate }}</p>
            <p *ngIf="exercises?.length === 0 && sequenceId">{{ '_NoExercisesSequences1_' | translate }}{{sequence.sequenceName}}{{'_NoExercisesSequences2_' | translate }}</p>
            <div class="panel panel-default" *ngFor="let exercise of pagedItems | exerciseFilter:searchBy | exerciseTypeFilter: imageFilter:textFilter">
                <div *ngIf="!loading" class="panel-body">
                    <div *ngIf="exercise.dtype.toLowerCase() == 'multiplechoice'">
                        <app-show-exercise-mc-image [exercise]="exercise" *ngIf="exercise.type.toLowerCase() == 'image'" ></app-show-exercise-mc-image>
                        <app-show-exercise-mc-text [exercise]="exercise" *ngIf="exercise.type.toLowerCase() == 'text'" ></app-show-exercise-mc-text>                
                    </div>
                    <div *ngIf="exercise.dtype.toLowerCase() == 'speechexercise'">
                        <app-show-exercise-speech [exercise]="exercise"></app-show-exercise-speech>
                    </div>
                    <div *ngIf="exercise.dtype.toLowerCase() == 'selectionimageexercise'">
                    </div>
                </div>
                <div class="panel-heading">
                    <button type="button" class="btn btn-primary"  (click)= "navigateEdit(exercise)">
                        <span class="glyphicon glyphicon-pencil" style="font-size: small;"></span> {{ '_Edit_' | translate }}
                    </button>
                    <button type="button" class="btn btn-danger" (click)="deleteExercise(exercise.exerciseId)">
                        <span class="glyphicon glyphicon-trash" style="font-size: small;"></span> {{ '_Delete_' | translate }}
                    </button>
                </div>
            </div>
        </div>
</div>

    <!-- pager -->
    <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
        <li [ngClass]="{disabled:pager.currentPage === 1}">
            <a (click)="setPage(1)">{{ '_First_' | translate }}</a>
        </li>
        <li [ngClass]="{disabled:pager.currentPage === 1}">
            <a (click)="setPage(pager.currentPage - 1)">{{ '_Previous_' | translate }}</a>
        </li>
        <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
            <a (click)="setPage(page)">{{page}}</a>
        </li>
        <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
            <a (click)="setPage(pager.currentPage + 1)">{{ '_Next_' | translate }}</a>
        </li>
        <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
            <a (click)="setPage(pager.totalPages)">{{ '_Last_' | translate }}</a>
        </li>
    </ul>
</div>