.grey {
    color: gray;
    font-style: italic;
}

img {
    display: inline;
    max-height: 50px;
}

.list-group-item-content {
    background: aliceblue;
}

.list-group-item__empty {
    border: none;
    padding: 0;
}