<div class="container">
    <h2 *ngIf="!model.childId">{{ '_RegisterChildBtn_' | translate }}</h2>
    <h2 *ngIf="model.childId">{{ '_EditChildBtn_' | translate }}</h2>
    <form (ngSubmit)="createChild()" #childForm="ngForm" class="col-md-8">
        <div class="form-group">
            <label for="username">{{ '_Username_' | translate }}</label>
            <input type="text" class="form-control" id="username" required [(ngModel)]="model.username" name="username" #username="ngModel">
            <div *ngIf="!username.valid && !username.pristine" class="alert alert-danger">
                {{ '_RequiredUsername_' | translate }}
            </div>
        </div>

        <div *ngIf="!model.childId" class="form-group">
            <label for="password">{{ '_Password_' | translate }}</label>
            <input type="password" class="form-control" id="password" required [(ngModel)]="model.password" name="password" #password="ngModel">
            <div *ngIf="!password.valid && !password.pristine" class="alert alert-danger">
                {{ '_RequiredPassword_' | translate }}
            </div>
        </div>

        <div *ngIf="!model.childId" class="form-group">
            <label for="confirmpassword">{{ '_ConfirmPassword_' | translate }}</label>
            <input type="password" class="form-control" id="confirmpassword" required [(ngModel)]="model.confirmpassword" name="confirmpassword"
                #confirmpassword="ngModel">
            <div *ngIf="!confirmpassword.valid && !confirmpassword.pristine" class="alert alert-danger">
                {{ '_RequiredConfirmPassword_' | translate }}
            </div>
        </div>

        <div class="form-group">
            <label for="firstName">{{ '_FirstName_' | translate }}</label>
            <input type="text" class="form-control" id="firstName" required [(ngModel)]="model.firstName" name="firstName" #firstName="ngModel">
            <div *ngIf="!firstName.valid && !firstName.pristine" class="alert alert-danger">
                {{ '_RequiredFirstName_' | translate }}
            </div>
        </div>

        <div class="form-group">
            <label for="lastName">{{ '_LastName_' | translate }}</label>
            <input type="text" class="form-control" id="lastName" required [(ngModel)]="model.lastName" name="lastName" #lastName="ngModel">
            <div *ngIf="!lastName.valid && !lastName.pristine" class="alert alert-danger">
                {{ '_RequiredLastName_' | translate }}
            </div>
        </div>

        <div class="form-group">
            <label for="birthDate">{{ '_BirthDate_' | translate }}</label>
            <input type="date" class="form-control" id="birthDate" required [(ngModel)]="model.birthDate" name="birthDate" #birthDate="ngModel">
            <div *ngIf="!birthDate.valid && !birthDate.pristine" class="alert alert-danger">
                {{ '_RequiredBirthdate_' | translate }}
            </div>
        </div>

        <div class="form-group">
            <label for="gender">{{ '_Gender_' | translate }}</label>
            <select class="form-control" id="gender" required [(ngModel)]="model.gender" name="gender" #gender="ngModel">
          <option *ngFor="let g of genders" [value]="g">{{ g | uppercase | translate }}</option>
        </select>
            <div *ngIf="!gender.valid && !gender.pristine" class="alert alert-danger">
                {{ '_RequiredGender_' | translate }}
            </div>
        </div>

        <button *ngIf="!model.childId" type="submit" class="btn btn-primary" [class.disabled]="!childForm.form.valid">
            <span class="glyphicon glyphicon-ok" style="font-size: large;" aria-hidden="true"></span> 
            {{'_RegisterChildBtn_' | translate }}
        </button>
        <button *ngIf="model.childId" type="submit" class="btn btn-primary" [class.disabled]="!childForm.form.valid">
            <span class="glyphicon glyphicon-pencil" style="font-size: large;" aria-hidden="true"></span> 
            {{'_EditChildBtn_' | translate }}
        </button>
        <button [routerLink]="['/children']" class="btn btn-secondary">
            <span class="glyphicon glyphicon-remove" style="font-size: large;" aria-hidden="true"></span>
            {{'_Cancel_' | translate }}
        </button>
    </form>
</div>