<div>
  <div class="home jumbotron centered">
    <p class="lead">
      <img src="images/VITHEAkidsLogo.png" alt="VK"><br> Virtual Therapist for Autism Treatment on Children
    </p>
    <p><a class="btn btn-lg btn-success" style="width:70%" [routerLink]="['/signup']">Registar cuidador <span class="glyphicon glyphicon-ok"></span></a></p>
    <p><a class="btn btn-lg btn-success" style="width:70%" [routerLink]="['/login']">Entrar <span class="glyphicon glyphicon-play"></span></a></p>
    <p><a class="btn btn-lg btn-success" style="width:70%" [routerLink]="['/']">Baixar aplicação <span class="glyphicon glyphicon-download"></span></a></p>
  </div>
</div>