<loader *ngIf="loading"></loader>
<div class="container" *ngIf="!loading">

    <h2>{{ '_Preferences_' | translate }}</h2>
    <h3> {{ childName }}</h3>

    <form (ngSubmit)="updatePreferences()" #preferencesdForm="ngForm" class="col-md-8">
        <div class=row>
            <h4>{{ '_PersonalMessages_' | translate }}</h4>
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="form-group">
                        <label>{{ 'GREETING_MESSAGE' | translate}}</label>
                        <input type="text" class="form-control" name="GREETING_MESSAGE" maxlength="255" [(ngModel)]="prefs.greetingMessage">
                    </div>
                    <div class="form-group">
                        <label>{{ 'EXERCISE_REINFORCEMENT' | translate}}</label>
                        <input type="text" class="form-control" name="EXERCISE_REINFORCEMENT" maxlength="255" [(ngModel)]="prefs.exerciseReinforcementMessage">
                    </div>
                    <div class="form-group">
                        <label>{{ 'SEQUENCE_REINFORCEMENT' | translate}}</label>
                        <input type="text" class="form-control" name="SEQUENCE_REINFORCEMENT" maxlength="255" [(ngModel)]="prefs.sequenceReinforcementMessage">
                    </div>
                </div>
            </div>
        </div>
        <div class=row>
            <h4>{{ '_Reinforcements_' | translate }}</h4>
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="form-group">
                        <label for="strategy"> {{ '_Strategy_' | translate }}</label>
                        <br>
                        <label class="radio-inline"><input type="radio" value="ALWAYS" [(ngModel)]="prefs.reinforcementStrategy" name="reinforcementStrategy">{{'_Always_' | translate}}</label>
                        <label class="radio-inline"><input type="radio" value="AT_FIRST" [(ngModel)]="prefs.reinforcementStrategy" name="reinforcementStrategy">{{'_FirstAttempt_' | translate}}</label>
                        <label class="radio-inline"><input type="radio" value="OFF" [(ngModel)]="prefs.reinforcementStrategy" name="reinforcementStrategy">{{'_Disabled_' | translate}}</label>
                    </div>
                </div>
                <div class="panel-body" *ngIf="validateReinforcement()">
                    <label for="reinforcement"> {{ '_Reinforcement_' | translate }}</label>
                    <p> {{ '_SelectImagesReinforcment_' | translate }}</p>
                    <em *ngIf="reinforcementResources?.length === 0">{{ '_NoResources_' | translate }}</em>
                    <br>
                    <div style="max-height: 100px; overflow-y: auto;">
                        <image-picker [(ngModel)]="reinforcementResources" [multiSelect]="false" (onSelected)="validateReinforcementImagesAdded()" name="reinforcementResources"> </image-picker>
                    </div>
                    <div *ngIf="reinforcementImageError" class="alert alert-danger"> {{ '_SelectImagesReinforcment_' | translate }} </div>
                </div>
            </div>
        </div>
        <div class=row>
            <h4>{{ '_Prompting_' | translate }}</h4>
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="form-group">
                        <label for="strategy"> {{ '_Strategy_' | translate }}</label>
                        <br>
                        <label class="radio-inline"><input type="radio" value="ALWAYS" [(ngModel)]="prefs.promptingStrategy" name="promptingStrategy">{{'_Always_' | translate}}</label>
                        <label class="radio-inline"><input type="radio" value="IF_NEEDED" [(ngModel)]="prefs.promptingStrategy" name="promptingStrategy">{{'_IfNeeded_' | translate}}</label>
                        <label class="radio-inline"><input type="radio" value="OFF" [(ngModel)]="prefs.promptingStrategy" name="promptingStrategy">{{'_Disabled_' | translate}}</label>
                    </div>
                    <div class="form-group" *ngIf="validatePrompting()">
                        <label for="strategy"> {{ '_Type_' | translate }}</label>
                        <br>
                        <div class="form-group checkbox-group">
                            <label class="checkbox-label"><input type="checkbox" [checked]="prefs.promptingSize" (change)="updatePromptingSize($event)" name="promptingType">{{'_OptionsSize_' | translate}}</label>
                            <label class="checkbox-label"><input type="checkbox" [checked]="prefs.promptingColor" (change)="updatePromptingColor($event)" name="promptingType">{{'_OptionsColor_' | translate}}</label>
                            <label class="checkbox-label"><input type="checkbox" [checked]="prefs.promptingScratch" (change)="updatePromptingScratch($event)" name="promptingType">{{'_CrossDistractors_' | translate}}</label>
                            <label class="checkbox-label"><input type="checkbox" [checked]="prefs.promptingHide" (change)="updatePromptingHide($event)" name="promptingType">{{'_DistractorsDisappear_' | translate}}</label>
                            <label class="checkbox-label"><input type="checkbox" [checked]="prefs.promptingRead" (change)="updatePromptingRead($event)" name="promptingRead">{{'_AnswersRead_' | translate}}</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class=row>
            <h4>{{ '_ExerciseSequences_' | translate }}</h4>
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="form-group">
                        <label for="strategy"> {{ '_OrderExercises_' | translate }}</label>
                        <br>
                        <label class="radio-inline"><input type="radio" value="RANDOM" [(ngModel)]="prefs.sequenceExercisesOrder" name="sequenceExercisesOrder">{{'_RandomOrder_' | translate}}</label>
                        <label class="radio-inline"><input type="radio" value="DEFAULT" [(ngModel)]="prefs.sequenceExercisesOrder" name="sequenceExercisesOrder">{{'_DefaultOrder_' | translate}}</label>
                    </div>
                    <div class="form-group">
                        <label for="strategy"> {{ '_CapitalizationExercises_' | translate }}</label>
                        <br>
                        <label class="radio-inline"><input type="radio" value="CAPITALIZATION" [(ngModel)]="prefs.sequenceExercisesCapitalization" name="sequenceExercisesCapitalization">{{'_AllCapsCapitalization_' | translate}}</label>
                        <label class="radio-inline"><input type="radio" value="DEFAULT" [(ngModel)]="prefs.sequenceExercisesCapitalization" name="sequenceExercisesCapitalization">{{'_DefaultCapitalization_' | translate}}</label>
                    </div>
                    <!--<div class="form-group">
                        <label for="strategy"> {{ '_QuestionRead_' | translate }}</label>
                        <br>
                        <label class="radio-inline"><input type="radio" value="ALWAYS" [(ngModel)]="prefs.promptingStrategy" name="promptingStrategy">{{'_Yes_' | translate}}</label>
                        <label class="radio-inline"><input type="radio" value="IF_NEEDED" [(ngModel)]="prefs.promptingStrategy" name="promptingStrategy">{{'_No_' | translate}}</label>
                    </div>-->
                </div>
            </div>
        </div>
        <div class=row>
            <h4>{{ '_AnimatedCharacter_' | translate }}</h4>
            <div class="panel panel-default">
                <div class="panel-body">
                    <p> {{ '_SelectImagesAnimatedCharacter_' | translate }}</p>
                    <em *ngIf="animatedCharactersResources?.length === 0">{{ '_NoResourcesAnimatedCharacter_' | translate }}</em>
                    <div style="max-height: 100px; overflow-y: auto;">
                        <image-picker [(ngModel)]="animatedCharactersResources" [multiSelect]="false" name="animatedCharacter"> </image-picker>
                    </div>
                    <br>
                    <div class="form-group">
                        <label for="emotions"> {{ '_Emotions_' | translate }}</label>
                        <br>
                        <label class="radio-inline"><input type="radio" [value]="true" [(ngModel)]="prefs.emotions" name="emotions">{{'_EmotionsOn_' | translate}}</label>
                        <label class="radio-inline"><input type="radio" [value]="false" [(ngModel)]="prefs.emotions" name="emotions">{{'_EmotionsOff_' | translate}}</label>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div style="height: 70px;">
                <div *ngIf="error" class="alert alert-danger"> {{ error | translate }} </div>
                <loader *ngIf="loadingAdd" [height]="50"></loader>
            </div>
        </div>

        <div class=row>
            <a type="button" (click)="updatePreferences()" class="btn btn-success">
                <span class="glyphicon glyphicon-ok" style="font-size: small;" aria-hidden="true"></span> {{ '_SaveChangesBtn_' | translate }}
            </a>
            <button [routerLink]="['/children']" type="button" class="btn btn-secondary"> 
                  <span class="glyphicon glyphicon-remove" style="font-size: small;" aria-hidden="true"></span> {{'_Cancel_' | translate }}
            </button>
        </div>
    </form>
</div>