<loader *ngIf="loading"></loader>
<div class="container" *ngIf="!loading">

    <h2>{{ '_EditCaregiver_' | translate }}</h2>

    <div style="height: 50px;">
        <p class="text-danger"> {{ '_Mandatory_' | translate }} </p>
    </div>

    <form (ngSubmit)="editCaregiver()" #caregiverForm="ngForm" class="col-md-8">
        <div class=row>
            <div class="form-group">
                <label for="firstName">{{ '_FirstName_' | translate }} <span class="text-danger"> * </span></label>
                <input type="text" (input)="validateFirstName()" class="form-control" id="firstName" required maxlength="30" [(ngModel)]="this.firstName" name="firstName">
                <div *ngIf="firstNameError" class="alert alert-danger"> {{ '_RequiredFirstName_' | translate }} </div>
            </div>
        </div>
        <div class=row>
            <div class="form-group">
                <label for="lastName">{{ '_LastName_' | translate }} <span class="text-danger"> * </span></label>
                <input type="text" (input)="validateLastName()" class="form-control" id="lastName" required maxlength="50" [(ngModel)]="this.lastName" name="lastName">
                <div *ngIf="lastNameError" class="alert alert-danger"> {{ '_RequiredLastName_' | translate }} </div>
            </div>
        </div>
        <div class=row>
            <div class="form-group">
                <label for="email">{{ '_Email_' | translate }} <span class="text-danger"> * </span></label>
                <input type="text" (input)="validateEmail()" class="form-control" id="email" required pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" maxlength="50" [(ngModel)]="this.email" name="email">
                <!--<div *ngIf="!email.valid && !email.pristine" class="alert alert-danger"> {{ '_RequiredEmail_' | translate }} </div>-->
                <div *ngIf="emailError" class="alert alert-danger"> {{ '_RequiredEmail_' | translate }}</div>
            </div>
        </div>  
        <div class=row>
            <div class="form-group">
                <label for="gender">{{ '_Gender_' | translate }} <span class="text-danger"> * </span></label>
                <select class="form-control" id="gender" required [(ngModel)]="this.gender" name="gender" (ngModelChange)="validateGender()">
                    <option *ngFor="let g of genders" [value]="g">{{ g | uppercase | translate }}</option>
                </select>
                <div *ngIf="genderError" class="alert alert-danger"> {{ '_RequiredGender_' | translate }} </div>
            </div>
        </div>
        <div class=row>
            <div class="form-group">
                <label for="securityQuestion">{{ '_SecurityQuestion_' | translate }} <span class="text-danger"> * </span></label>
                <select class="form-control" id="securityQuestion" required [(ngModel)]="this.securityQuestion" name="securityQuestion" (ngModelChange)="validateSecurityQuestion()">
                    <option *ngFor="let g of securityquestions" [value]="g">{{ g | translate }}</option>
                </select>
                <div *ngIf="securityQuestionError" class="alert alert-danger"> {{ '_RequiredSecurityQuestion_' | translate }} </div>
            </div>
        </div>
        <!-- so aparece se a questao for mudada para outra 
        <div class=row>
            <div class="form-group">
                <label for="securityPassword">{{ '_SecurityPassword_' | translate }} <span class="text-danger"> * </span></label>
                <input type="text" (ngModelChange)="validateSecurityPassword()" class="form-control" id="securityPassword" required maxlength="50" [(ngModel)]="model.securityPassword" name="securityPassword" #securityPassword="ngModel">
                <div *ngIf="securityPasswordError" class="alert alert-danger"> {{ '_RequiredSecurityPassword_' | translate }}</div>
            </div>
        </div>
        <div class=row>
            <div class="form-group">
                <label for="password">{{ '_Password_' | translate }} <span class="text-danger"> * </span></label>
                <input type="password" (ngModelChange)="validatePassword()" class="form-control" id="password" required minlength="6" maxlength="255" validateEqual="confirmpassword" reverse="true" [(ngModel)]="model.password" name="password" #password="ngModel">
                <div *ngIf="passwordError || passwordLengthError" class="alert alert-danger"> {{ '_RequiredPassword_' | translate }} </div>
            </div>
        </div>-->

        <div class=row>
            <a type="button" (click)="submit()" class="btn btn-success">
                <span class="glyphicon glyphicon-ok" style="font-size: small;" aria-hidden="true"></span> {{ '_EditCaregiver_' | translate }}
            </a>
            <button [routerLink]="['/home']" type="button" class="btn btn-secondary"> 
                  <span class="glyphicon glyphicon-remove" style="font-size: small;" aria-hidden="true"></span> {{'_Cancel_' | translate }}
            </button>
        </div>
    </form>
</div>