<loader *ngIf="loading"></loader>
<div class="container" *ngIf="!loading">
    <!--
    <h2 *ngIf="!newExercise.exerciseId">{{ '_CreateExercise_' | translate }}</h2>
    <h2 *ngIf="newExercise.exerciseId">{{ '_EditExercise_' | translate }}</h2>
    -->

    <div style="height: 50px;">
        <p class="text-danger"> {{ '_Mandatory_' | translate }} </p>
    </div>

    <form (ngSubmit)="registerExercise()" #exerciseForm="ngForm" class="col-md-8">

        <div class="row">
            <div *ngIf="topics" class="form-group">
                <label for="topic"> {{ '_Topic_' | translate }} <span class="text-danger"> * </span></label>
                <p *ngIf="topics?.length === 0">{{ '_NoTopics_' | translate }}</p>
                <div *ngIf="topics?.length > 0">
                    <p> {{ '_SelectTopic_' | translate }}</p>
                    <select class="form-control" id="topic" required [(ngModel)]="newExercise.topic" (ngModelChange)="validateTopic()" name="topic" #topic="ngModel">
                        <option *ngFor="let topic of topics" [value]="topic.topicId">{{ topic.topicDescription }}</option>
                    </select>
                </div>
                <div *ngIf="topicError" class="alert alert-danger">{{ '_RequiredTopic_' | translate }}</div>
            </div>
        </div>

        <div class="row">
            <div *ngIf="levels" class="form-group">
                <label for="level"> {{ '_Level_' | translate }} <span class="text-danger"> * </span></label>
                <p *ngIf="levels?.length === 0">{{ '_NoLevels_' | translate }}</p>
                <div *ngIf="levels?.length > 0">
                    <p> {{ '_SelectLevel_' | translate }}</p>
                    <select class="form-control" id="level" required [(ngModel)]="newExercise.level" (ngModelChange)="validateLevel()" name="level" #topic="ngModel">
                        <option *ngFor="let level of levels" [value]="level.levelId">{{ level.levelDescription }}</option>
                    </select>
                </div>
                <div *ngIf="levelError" class="alert alert-danger">{{ '_RequiredLevel_' | translate }}</div>
            </div>
        </div>

        <div class="row">
            <div class="form-group">
                <label for="question"> {{'_Question_' | translate }} <span class="text-danger"> * </span></label>
                <input type="text" class="form-control" id="question" required maxlength="100" [(ngModel)]="newExercise.question" (ngModelChange)="validateQuestion()" name="question" #question="ngModel">
                <div *ngIf="questionError" class="alert alert-danger"> {{ '_RequiredQuestion_' | translate }} </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group">
                <label for="stimulus"> {{ '_Stimulus_' | translate }} </label>
                <p> {{ '_SelectImagesStimulus_' | translate }}</p>
                <div style="max-height: 100px; overflow-y: auto;">
                    <em *ngIf="stimulusImgs?.length === 0">{{ '_NoResources_' | translate }}</em>
                    <image-picker *ngIf=!loading [(ngModel)]="stimulusImgs" name="stimulusImgs" [selected]="newExercise.stimulus" name="newExercise.stimulusImgs" [multiSelect]="false"> </image-picker>
                </div>
            </div>
        </div>

        <div class="row">
            <label for="answer"> {{ '_Answer_' | translate }} <span class="text-danger"> * </span></label>
            <div>
                <input type="text" class="form-control" id="rightAnswer" maxlength="75" [(ngModel)]="newExercise.rightAnswer" (ngModelChange)="validateRightAnswerText()" name="rightAnswer" #rightAnswer="ngModel">
                <div *ngIf="rightAnswerTextError" class="alert alert-danger"> {{ '_RequiredRightAnswer_' | translate }} </div>
            </div>
        </div>

        <div class="row">
            <br>
            <label for="answers"> {{ '_Distractors_' | translate }}</label>
            <div class="form-group">
                <p>{{ '_NoDistractors_' | translate }}</p>
                <input type="text" class="form-control" id="distractor1" maxlength="75" [(ngModel)]="newExercise.distractor1" name="distractor1" #distractor1="ngModel">
                <input type="text" class="form-control" id="distractor2" maxlength="75" [(ngModel)]="newExercise.distractor2" name="distractor2" #distractor2="ngModel">
                <input type="text" class="form-control" id="distractor3" maxlength="75" [(ngModel)]="newExercise.distractor3" name="distractor3" #distractor3="ngModel">
            </div>
        </div>

        <div style="height: 70px; ">
            <div *ngIf="error " class="alert alert-danger "> {{ error | translate }} </div>
            <loader *ngIf="loadingAdd " [height]="50"></loader>
        </div>

        <div class="row ">
            <a type="button" (click)="submit()" class=" btn btn-success">
                <span class=" glyphicon glyphicon-ok " style="font-size: small; " aria-hidden="true "></span> {{ '_CreateExercise_' | translate }}
            </a>
            <button [routerLink]="[ '/exercises'] " type="button " class="btn btn-secondary "> 
                <span class="glyphicon glyphicon-remove " style="font-size: small; " aria-hidden="true "></span> {{'_Cancel_' | translate }}
          </button>

            <!--
            <a *ngIf="!newExercise.exerciseId" type="button" (click)="submit()" class=" btn btn-success">
                <span class=" glyphicon glyphicon-ok " style="font-size: small; " aria-hidden="true "></span> {{ '_CreateExercise_' | translate }}
            </a>
            <a *ngIf="newExercise.exerciseId " type="button " (click)="submit() " class="btn btn-success ">
                <span class="glyphicon glyphicon-ok " style="font-size: small; " aria-hidden="true "></span> {{ '_SaveChangesBtn_' | translate }}
            </a>
        -->
        </div>
    </form>
</div>