<div class="container">

    <div class="row">
        <div class="panel-default pull-right">
            <a type="button" class="btn btn-default" (click)="goBack()">
                <span class="glyphicon glyphicon-arrow-left" style="font-size: small;" aria-hidden="true"></span> {{'_GoBack_' | translate }}
            </a>
            <a *ngIf="!childId" type="button" class="btn btn-primary" [routerLink]="['/sequences/new']">
                <span class="glyphicon glyphicon-plus" style="font-size: small;"></span> {{ '_CreateSequence_' | translate }}
            </a>
            <button *ngIf="childId" type="button" class="btn btn-primary" [routerLink]="['/sequences/new/' + childId]">
                <span class="glyphicon glyphicon-plus" style="font-size: small;"></span> {{ '_AddSequence_' | translate }}
            </button>
        </div>
    </div>

    <div class=row>
        <h2>{{ '_Sequences_' | translate }}</h2>
        <h3 *ngIf="child?.childId">{{child.firstName + ' ' + child.lastName}}</h3>
    </div>

    <div class=row>
        <div class="form-group has-feedback search-container" *ngIf="sequences && sequences?.length">
            <input type="text" class="form-control search-input" [(ngModel)]="searchBy" />
            <i class="glyphicon glyphicon-search form-control-feedback"></i>
        </div>
    </div>


    <div class=row>
        <loader *ngIf="loading"></loader>
        <div *ngIf="!loading">
            <p *ngIf="sequences?.length === 0">{{ '_NoSequences_' | translate }}</p>
            <div class="panel panel-default" *ngFor="let sequence of pagedItems | sequenceFilter:searchBy">
                <div class="panel-body">
                    <div class="pull-right button-group">
                        <button type="button" class="btn btn-info" [routerLink]="['/sequences/' + sequence.sequenceId + '/children']">{{ '_ViewChildren_' | translate }}</button>
                        <button type="button" class="btn btn-info" [routerLink]="['/sequences/' + sequence.sequenceId + '/exercises']">{{ '_ViewExercises_' | translate }}</button>
                    </div>
                    <h4>{{sequence.sequenceName}}</h4>
                    <div *ngFor="let child of sequence.sequenceChildren">
                        <p> {{child?.firstName + ' ' + child?.lastName}}</p>
                    </div>
                </div>
                <div class="panel-heading">
                    <button type="button" class="btn btn-primary" [routerLink]="['/sequences/' + sequence.sequenceId + '/edit']">
                        <span class="glyphicon glyphicon-pencil" style="font-size: small;"></span> {{ '_Edit_' | translate }}
                    </button>
                    <button type="button" class="btn btn-danger" (click)="deleteSequence(sequence.sequenceId)">
                        <span class="glyphicon glyphicon-trash" style="font-size: small;"></span> {{ '_Delete_' | translate }}
                    </button>
                </div>
            </div>
        </div>

        <!-- pager -->
        <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
            <li [ngClass]="{disabled:pager.currentPage === 1}">
                <a (click)="setPage(1)">{{ '_First_' | translate }}</a>
            </li>
            <li [ngClass]="{disabled:pager.currentPage === 1}">
                <a (click)="setPage(pager.currentPage - 1)">{{ '_Previous_' | translate }}</a>
            </li>
            <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
                <a (click)="setPage(page)">{{page}}</a>
            </li>
            <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                <a (click)="setPage(pager.currentPage + 1)">{{ '_Next_' | translate }}</a>
            </li>
            <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                <a (click)="setPage(pager.totalPages)">{{ '_Last_' | translate }}</a>
            </li>
        </ul>
    </div>
</div>