<div class="container">
  <button type="button" class="btn btn-primary pull-right" [routerLink]="['/children/new']">{{ '_RegisterChildBtn_' | translate }}</button>
  <h2>{{ '_Children_' | translate }}</h2>
  <div class="panel panel-default" *ngFor="let child of children">
    <div class="panel-body">
      <button type="button" class="btn btn-secondary pull-right" [routerLink]="['/children/' + child.childId]">{{ '_ViewChildBtn_' | translate }}</button>
      <h4>{{child.firstName}}&nbsp;{{ child.lastName}}</h4>
      <p>{{ child.birthDate | date:"dd/MM/yyyy"}}</p>
      <p>{{ child.gender }}</p>
    </div>
  </div>
</div>