<loader *ngIf="loading"></loader>
<div class="container" *ngIf="!loading">
    <div class="row">
        <div class="panel-default pull-right">
            <a type="button" class="btn btn-default" (click)="goBack()">
                <span class="glyphicon glyphicon-arrow-left" style="font-size: small;" aria-hidden="true"></span> {{'_GoBack_' | translate }}
            </a>
            <button *ngIf="!sequenceId" type="button" class="btn btn-primary" [routerLink]="['/children/new']">
                <span class="glyphicon glyphicon-plus" style="font-size: small;"></span> {{ '_RegisterChildBtn_' | translate }}
            </button>
        </div>
    </div>

    <div class=row>
        <h2>{{ '_Children_' | translate }}</h2>
        <h3 *ngIf="sequenceId">Aula {{sequence.sequenceName}}</h3>
    </div>

    <div class=row>
        <div class="form-group has-feedback search-container" *ngIf="children && children.length">
            <input type="text" class="form-control search-input" [(ngModel)]="searchBy" />
            <i class="glyphicon glyphicon-search form-control-feedback"></i>
        </div>
    </div>
    <div class=row>
        <loader *ngIf="loading"></loader>

        <alert *ngIf="success" type="success" dismissOnTimeout="5000" (onClosed)="reset()"> {{ textSuccess }} </alert>
        <alert *ngIf="failure" type="danger" dismissOnTimeout="5000" (onClosed)="reset()"> {{ textFailure }} </alert>

        <div *ngIf="!loading">
            <p *ngIf="children?.length === 0">{{ '_NoChildren_' | translate }}</p>
            <div class="panel panel-default" *ngFor="let child of pagedItems | childFilter:searchBy">
                <div class="panel-body">
                    <div class="pull-right button-group">
                        <button type="button" class="btn btn-info" [routerLink]="['/children/' + child.childId + '/sequences']">{{ '_ViewChildSequencesBtn_' | translate }}</button>
                        <button type="button" class="btn btn-info" [routerLink]="['/children/' + child.childId + '/preferences']">{{ '_EditChildPreferencesBtn_' | translate }}</button>
                    </div>
                    <h4>{{ truncate(child.firstName + ' ' + child.lastName, 50) }}</h4>
                    <p>{{ child.birthDate | date:"dd/MM/yyyy"}}</p>
                    <p>{{ child.gender | uppercase | translate }}</p>
                </div>
                <div class="panel-heading">
                    <button type="button" class="btn btn-primary" [routerLink]="['/children/' + child.childId + '/edit']">
                        <span class="glyphicon glyphicon-pencil" style="font-size: small;"></span> {{ '_Edit_' | translate }}
                    </button>
                    <button type="button" class="btn btn-danger" (click)="deleteChild(child.childId)">
                        <span class="glyphicon glyphicon-trash" style="font-size: small;"></span> {{ '_Delete_' | translate }}
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!-- pager -->
    <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
        <li [ngClass]="{disabled:pager.currentPage === 1}">
            <a (click)="setPage(1)">{{ '_First_' | translate }}</a>
        </li>
        <li [ngClass]="{disabled:pager.currentPage === 1}">
            <a (click)="setPage(pager.currentPage - 1)">{{ '_Previous_' | translate }}</a>
        </li>
        <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
            <a (click)="setPage(page)">{{page}}</a>
        </li>
        <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
            <a (click)="setPage(pager.currentPage + 1)">{{ '_Next_' | translate }}</a>
        </li>
        <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
            <a (click)="setPage(pager.totalPages)">{{ '_Last_' | translate }}</a>
        </li>
    </ul>

</div>