<loader *ngIf="loading"></loader>
<div class="container" *ngIf="!loading">

    <div class="row">
        <div class="panel-default pull-right">
            <a type="button" class="btn btn-default" (click)="goBack()">
                <span class="glyphicon glyphicon-arrow-left" style="font-size: small;" aria-hidden="true"></span> {{'_GoBack_' | translate }}
            </a>
        </div>
    </div>

    <div class="row">
        <h2>{{ '_CreateExercise_' | translate }}</h2>
    </div>

    <div class="row">
        <div class="form-group">
            <label> {{ '_ExerciseType_' | translate }} <span class="text-danger"> * </span></label>
            <br>
            <label class="radio-inline"><input type="radio" value="text" [(ngModel)]="type"  name="type">Resposta em texto</label>
            <label class="radio-inline"><input type="radio" value="image" [(ngModel)]="type" name="type">Resposta em imagem</label>
            <label class="radio-inline"><input type="radio" value="imageSelection" [(ngModel)]="type" name="type">Selecção em imagens</label>
        </div>
    </div>

    <div class="row">
        <div *ngIf="type == 'text'">
            <app-add-exercise-mc-text></app-add-exercise-mc-text>
        </div>

        <div *ngIf="type == 'image'">
            <app-add-exercise-mc-image></app-add-exercise-mc-image>
        </div>

        <div *ngIf="type == 'imageSelection'">
            <app-add-exercise-selectionImage></app-add-exercise-selectionImage>
        </div>
    </div>

</div>