<div class="login jumbotron center-block">
  <form name="form" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !username.valid }">
            <label for="username">{{ '_Username_' | translate }}</label>
            <input type="text" class="form-control" name="username" [(ngModel)]="model.username" #username="ngModel" required />
        </div>
        <div *ngIf="f.submitted && !username.valid" class="alert alert-danger">
            {{ '_RequiredUsername_' | translate }}
        </div>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
            <label for="password"> {{ '_Password_' | translate }}</label>
            <input type="password" class="form-control" name="password" [(ngModel)]="model.password" #password="ngModel" required />
        </div>
        <div *ngIf="f.submitted && !password.valid" class="alert alert-danger">
            {{ '_RequiredPassword_' | translate }}
        </div>
        <div *ngIf="failedLogin" class="alert alert-danger">
          {{ '_InvalidUsernamePassword_' | translate }}
        </div>
        <div class="form-group">
            <button class="btn btn-primary">{{ '_Login_' | translate }}</button>
            <a [routerLink]="['/signup']" class="btn btn-link">{{ '_ClickHereToSignUp_' | translate }}</a>
        </div>
    </form>
</div>