<div class="container">
  <div *ngIf="addMode">
    <h1>{{ '_RegisterChildBtn_' | translate }}</h1>
    <form *ngIf="active" (ngSubmit)="onSubmit()" #childForm="ngForm">
      <div class="form-group">
        <label for="username">{{ '_Username_' | translate }}</label>
        <input type="text" class="form-control" id="username" required [(ngModel)]="model.username" name="username" #username="ngModel">
        <div [hidden]="username.valid || username.pristine" class="alert alert-danger">
          {{ '_RequiredUsername_' | translate }}
        </div>
      </div>

      <div class="form-group">
        <label for="password">{{ '_Password_' | translate }}</label>
        <input type="password" class="form-control" id="password" required [(ngModel)]="model.password" name="password" #password="ngModel">
        <div [hidden]="password.valid || password.pristine" class="alert alert-danger">
          {{ '_RequiredPassword_' | translate }}
        </div>
      </div>

      <div class="form-group">
        <label for="confirmpassword">{{ '_ConfirmPassword_' | translate }}</label>
        <input type="password" class="form-control" id="confirmpassword" required [(ngModel)]="model.confirmpassword" name="confirmpassword"
          #confirmpassword="ngModel">
        <div [hidden]="confirmpassword.valid || confirmpassword.pristine" class="alert alert-danger">
          {{ '_RequiredPassword_' | translate }}
        </div>
      </div>

      <div class="form-group">
        <label for="firstname">{{ '_FirstName_' | translate }}</label>
        <input type="text" class="form-control" id="firstname" required [(ngModel)]="model.firstname" name="firstname" #firstname="ngModel">
        <div [hidden]="firstname.valid || firstname.pristine" class="alert alert-danger">
          {{ '_RequiredFirstname_' | translate }}
        </div>
      </div>

      <div class="form-group">
        <label for="lastname">{{ '_LastName_' | translate }}</label>
        <input type="text" class="form-control" id="lastname" required [(ngModel)]="model.lastname" name="lastname" #lastname="ngModel">
        <div [hidden]="lastname.valid || lastname.pristine" class="alert alert-danger">
          {{ '_RequiredLastname_' | translate }}
        </div>
      </div>

      <div class="form-group">
        <label for="birthdate">{{ '_BirthDate_' | translate }}</label>
        <input type="date" class="form-control" id="birthdate" required [(ngModel)]="model.birthdate" name="birthdate" #birthdate="ngModel">
        <div [hidden]="birthdate.valid || birthdate.pristine" class="alert alert-danger">
          {{ '_RequiredBirthdate_' | translate }}
        </div>
      </div>

      <div class="form-group">
        <label for="gender">{{ '_Gender_' | translate }}</label>
        <select class="form-control" id="gender" required [(ngModel)]="model.gender" name="gender" #gender="ngModel">
          <option *ngFor="let g of genders" [value]="g">{{g}}</option>
        </select>
        <div [hidden]="gender.valid || gender.pristine" class="alert alert-danger">
          {{ '_RequiredGender_' | translate }}
        </div>
      </div>

      <button type="submit" class="btn btn-default" [disabled]="!childForm.form.valid">Submit</button>
      <button type="cancel" class="btn btn-default" (click)="toogleAddMode()">Cancel</button>
    </form>
  </div>

  <div *ngIf="!addMode">
    <button type="button" class="btn btn-default pull-right" (click)="toogleAddMode()">{{ '_RegisterChildBtn_' | translate }}</button>
    <h2>{{ '_Children_' | translate }}</h2>
    <div class="panel panel-default" *ngFor="let child of children">
      <div class="panel-body">
        <h4>{{child.firstName}}&nbsp;{{ child.lastName}}&nbsp;({{child.childLogin.userName}})</h4>
        <p>{{ child.birthDate | date:"dd/MM/yyyy"}}</p>
        <p>{{ child.gender }}</p>
      </div>
    </div>
  </div>
</div>