<a ng-hide="adding" class="btn btn-default pull-right"
	ng-click="adding = true"> <span class="glyphicon glyphicon-plus"></span>
	<span data-i18n="common._RegisterChildBtn_"></span>
</a>
<div style="clear: both;"></div>
<br>
<form class="panel panel-default" ng-show="adding"
	name="registerChildForm" ng-submit="registerchild()" novalidate>
	<div class="panel-body">
		<div>
			<label for="username" data-i18n="common._Username_"></label> <input
				name="username" class="form-control" id="username"
				data-i18n-attr="{placeholder: 'common._Username_'}"
				ng-model="username">
		</div>
		<div>
			<label for="password" data-i18n="common._Password_"></label> <input
				name="password" class="form-control" type="password" id="password"
				data-i18n-attr="{placeholder: 'common._Password_'}"
				ng-model="password">

		</div>
		<div>
			<label for="passwordcheck" data-i18n="common._ConfirmPassword_"></label>
			<input name="passwordcheck" class="form-control" type="password"
				id="passwordcheck"
				data-i18n-attr="{placeholder: 'common._ConfirmPassword_'}"
				ng-model="passwordcheck">

		</div>
		<div>
			<label for="firstname" data-i18n="common._FirstName_"></label> <input
				name="firstname" class="form-control" id="firstname"
				data-i18n-attr="{placeholder: 'common._FirstName_'}"
				ng-model="firstname">
		</div>
		<div>
			<label for="lastname" data-i18n="common._LastName_"></label> <input
				name="lastname" class="form-control" id="lastname"
				data-i18n-attr="{placeholder: 'common._LastName_'}"
				ng-model="lastname">
		</div>

		<div>
			<label for="birthdate" data-i18n="common._BirthDate_"></label><br>
			<input type="date" id="exampleInput" name="input"
				ng-model="birthdate" placeholder="yyyy-MM-dd" required />
		</div>

		<div>
			<label for="gender" data-i18n="common._Gender_"></label><br>
			<bs-dropdown data-menu-type="button"
				select-val="gender = selectedVal"
				preselected-item="selected_gendernew" data-dropdown-data="genders"></bs-dropdown>
			<br>
		</div>
	</div>
	<div class="panel-footer">
		<a ng-click="registerchild(); adding = false">
			<span class="glyphicon glyphicon-ok" style="font-size: large;" aria-hidden="true"></span>
		</a> 
		<a ng-click="adding = false">
			<span class="glyphicon glyphicon-remove" style="font-size: large;" aria-hidden="true"></span>
		</a>
	</div>
</form>
<div class="panel panel-default" ng-repeat="child in children" ng-hide="adding">
	<div class="panel-body" ng-hide="editing">
		<h4>{{child.firstName}}&nbsp;{{ child.lastName}}&nbsp;({{child.childLogin.userName}})</h4>
		<p>{{ child.birthDate | date:"dd/MM/yyyy"}}</p>
		<p>{{ child.gender }}</p>
	</div>
	<form class="panel-body" name="editchildrFrom" ng-submit="editchild()" ng-show="editing" novalidate>
		<div>
			<label for="firstname" data-i18n="common._FirstName_"></label> <input
				name="firstname" class="form-control" id="firstname"
				data-i18n-attr="{placeholder: 'common._FirstName_'}"
				ng-model="child.firstName">
		</div>
		<div>
			<label for="lastname" data-i18n="common._LastName_"></label> <input
				name="lastname" class="form-control" id="lastname"
				data-i18n-attr="{placeholder: 'common._LastName_'}"
				ng-model="child.lastName">
		</div>
		<div>
			<label for="username" data-i18n="common._Username_"></label> <input
				name="username" class="form-control" id="username"
				data-i18n-attr="{placeholder: 'common._Username_'}"
				ng-model="child.childLogin.userName">
		</div>
		<div>
			<label for="birthdate" data-i18n="common._BirthDate_"></label><br>
			<input type="date" id="exampleInput" name="input"
				ng-model="child.birthDate" placeholder="yyyy-MM-dd" required />
		</div>
		<div>
			<label for="gender" data-i18n="common._Gender_"></label><br>
			<bs-dropdown data-menu-type="button"
				select-val="gender = selectedVal"
				preselected-item="selected_gender[$index]"
				data-dropdown-data="genders"></bs-dropdown>
			<br>
		</div>
	</form>
	<div class="panel-footer">
		<a ng-hide="editing" ng-click="editing = true"><span
			class="glyphicon glyphicon-edit"
			style="font-size: large; cursor: pointer;" aria-hidden="true"></span></a>
		<a ng-show="editing" ng-click="editchild(); editing = false;"><span
			class="glyphicon glyphicon-ok"
			style="font-size: large; cursor: pointer;" aria-hidden="true"></span></a>
		<a ng-show="editing" ng-click="editing = false"><span
			class="glyphicon glyphicon-remove"
			style="font-size: large; cursor: pointer;" aria-hidden="true"></span></a>
		<a ng-hide="editing" ng-click="deletechild($index)"><span
			class="glyphicon glyphicon-trash"
			style="font-size: large; cursor: pointer;" aria-hidden="true"></span></a>
	</div>
</div>