<div data-ng-controller="ExercisesCtrl" class="container">
    <div class="row">
        <div class="col-md-12">
            <strong class="error">{{ error }}</strong>
            <p data-ng-hide="addMode"><a data-ng-click="toggleAdd()" href="javascript:;" class="btn btn-primary">Criar Exercício</a></p>
            <form name="addExercise" data-ng-show="addMode" style="width:600px;margin:0px auto;">
                <div>
					<label for="topic" data-i18n="common._ExerciseType_"></label><br>
						<label class="radio-inline"><input type="radio" data-ng-model="exerciseType" value="text">Resposta em texto</label>
						<label class="radio-inline"><input type="radio" data-ng-model="exerciseType" value="image">Resposta em imagem</label>												
					<br>
					<label for="topic" data-i18n="common._Topic_"></label><br>					
					<div class="btn-group acc-button">
						<button id="topic" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
								aria-expanded="false">{{selected_topicnew.topicDescription}}</button>
						<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
								aria-expanded="false">
							<span class="caret"></span>
							<span class="sr-only">Toggle Dropdown</span>
						</button>
						<ul class="dropdown-menu" role="menu">
						<li ng-repeat="topic in topics"><a ng-click="selectnewtopic(topic)">{{topic.topicDescription}}</a></li>
						</ul>
					</div>
					<br>
                    <br>
                    <div>
					<label for="level" data-i18n="common._Level_"></label><br>					
					<div class="btn-group acc-button">
						<button id="level" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
								aria-expanded="false">{{selected_levelnew.levelDescription}}</button>
						<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
								aria-expanded="false">
							<span class="caret"></span>
							<span class="sr-only">Toggle Dropdown</span>
						</button>
						<ul class="dropdown-menu" role="menu">
						<li ng-repeat="level in levels"><a ng-click="selectnewlevel(level)">{{level.levelDescription}}</a></li>
						</ul>
					</div>
				</div>
                <br>
                <div>
					<label for="question" data-i18n="common._Question_"></label> 
					<input name="question" class="form-control" id="question"
						data-i18n-attr="{placeholder: 'common._Question_'}"
						data-ng-model="newexercise.question">
				</div>
                <br>
                <div>
					<label for="stimulus" data-i18n="common._Stimulus_"></label>	
                    <input name="stimulusText" class="form-control" id="stimulusText"
						data-i18n-attr="{placeholder: 'common._StimulusText_'}"
						data-ng-model="newexercise.stimulusText">
					<br>						
                    <div style="max-height: 100px; overflow-y: scroll;">
						<select class="image-picker" id="stimulus" style="display: none;">
							<option value=""></option>
							<option ng-repeat="resource in resources" data-img-src={{resource.resourcePath}} value={{resource.resourceId}}>Image{{resource.resourceId}}</option>
						</select>											
				    </div>
                </div>
                <br>
                <div ng-show="exerciseType == 'text'">
					<label for="answer" data-i18n="common._Answer_"></label> 
					<input name="answer" class="form-control" id="answer"
						data-i18n-attr="{placeholder: 'common._Answer_'}"
						data-ng-model="newexercise.answer">
				</div>
				<div ng-show="exerciseType == 'image'">
					<label for="answer" data-i18n="common._Answer_"></label>
					<br>
                    <div style="max-height: 100px; overflow-y: scroll;">
						<select class="image-picker" id="answerImg" style="display: none;">
							<option ng-repeat="resource in resources" data-img-src={{resource.resourcePath}} value={{resource.resourceId}}>Image{{resource.resourceId}}</option>
						</select>											
				    </div> 
				</div>
                <br>
                <div ng-show="exerciseType == 'text'">
					<label for="distractors" data-i18n="common._Distractors_"></label> 
					<div>                        
                        <ul class="list-group">
                            <li class="list-group-item" ng-show="!newexercise.distractors.length"><em data-i18n="common._NoDistractors_"></em></li>
                            <li class="list-group-item" ng-repeat="distractor in newexercise.distractors track by $index">
                                <span>{{distractor}}</span>
                                <i role="button" class="glyphicon glyphicon-remove pull-right" ng-click="removeDistractor($index)"></i>
                            </li>
                        </ul>
                        <div class="input-group">
                            <input class="form-control" data-i18n-attr="{placeholder: 'common._Distractor_'}" ng-model="newDistractor">
                            <span class="input-group-btn">
                                <button class="btn" ng-click="addDistractor()"><i class="glyphicon glyphicon-plus"></i></button>
                            </span>
                        </div>
                    </div>
				</div>
				<div ng-show="exerciseType == 'image'">
					<label for="distractors" data-i18n="common._Distractors_"></label> 
					<br>
                    <div style="max-height: 100px; overflow-y: scroll;">
						<select class="image-picker" id="distractorsImg" multiple="multiple" style="display: none;">
							<option ng-repeat="resource in resources" data-img-src={{resource.resourcePath}} value={{resource.resourceId}}>Image{{resource.resourceId}}</option>
						</select>											
				    </div>
				</div>          
                <br />
                <div class="form-group">
                    <div class="col-sm-12">
                        <a data-ng-click="registerexercise()" data-ng-disabled="!addExercise.$valid" class="btn btn-primary">
                        <span class="glyphicon glyphicon-ok" style="font-size: large;" aria-hidden="true"></span></a> 
                        <a data-ng-click="toggleAdd()" class="btn btn-primary">
                        <span class="glyphicon glyphicon-remove" style="font-size: large;" aria-hidden="true"></span></a>
                    </div>
                </div>
                <br />
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <br />
            <br />
        </div>
    </div>
    <div class="row" data-ng-hide="addMode">
        <div class="col-md-12">
            <div class="panel panel-default" ng-repeat="exercise in exercises">
				<div class="panel-body" data-ng-hide="execise.editMode">
					<h3>{{exercise.question.questionDescription}}</h3>
					<img src="{{exercise.question.stimulus.resourcePath}}">
					<h4>{{ exercise.topic.topicDescription}}&nbsp;-&nbsp;{{exercise.level.levelDescription}}</h4>                    
					<p class="col-md-6 col-sm-6" ng-repeat="distractor in exercise.answers">{{distractor.answerDescription}}
                        <span class="pull-right glyphicon glyphicon-check" ng-hide="distractor.answerId != exercise.rightAnswer.answerId"></span>
                        <span class="pull-right glyphicon glyphicon-unchecked" ng-hide="distractor.answerId == exercise.rightAnswer.answerId"></span>
                    </p>                    
				</div>
				<!--<form class="panel-body" name="editChild" data-ng-show="child.editMode">
					<div>
						<label for="editusername" data-i18n="common._Username_"></label> 
						<input name="editusername" class="form-control" id="editusername"
							data-i18n-attr="{placeholder: 'common._Username_'}"
							data-ng-model="child.childLogin.userName" 
							ng-change="child.userName = child.childLogin.userName" 
							ng-init="child.userName = child.childLogin.userName">
					</div>
					<div>
						<label for="editfirstname" data-i18n="common._FirstName_"></label> 
						<input name="editfirstname" class="form-control" id="editfirstname"
							data-i18n-attr="{placeholder: 'common._FirstName_'}"
							data-ng-model="child.firstName">
					</div>
					<div>
						<label for="editlastname" data-i18n="common._LastName_"></label> 
						<input name="editlastname" class="form-control" id="editlastname"
							data-i18n-attr="{placeholder: 'common._LastName_'}"
							data-ng-model="child.lastName">
					</div>		
					<div>
						<label for="editbirthdate" data-i18n="common._BirthDate_"></label><br>
						<input type="date" id="editbirthdate" name="editbirthdate"
							data-ng-model="child.birthDate" placeholder="yyyy-MM-dd" required />
					</div>
					<div>
						<label for="editgender" data-i18n="common._Gender_"></label><br>
						<div class="btn-group acc-button">
							<button id="editgender" type="button" class="btn btn-default"dropdown-toggle" data-toggle="dropdown"
									aria-expanded="false">{{child.selected_gender.name}}</button>
							<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
									aria-expanded="false">
								<span class="caret"></span>
								<span class="sr-only">Toggle Dropdown</span>
							</button>
							<ul class="dropdown-menu" role="menu">
							<li ng-repeat="gender in genders"><a ng-click="editgender(gender)">{{gender.name}}</a></li>
							</ul>
						</div>
						<br>
					</div>
					<div class="form-group">
						<a data-ng-show="child.editMode" data-ng-disabled="!editChild.$valid" data-ng-click="editchild()" href="javascript:;" class="btn btn-primary"><span
							class="glyphicon glyphicon-ok"
							style="font-size: large; cursor: pointer;" aria-hidden="true"></span></a>
						<a data-ng-click="toggleEdit(child)" href="javascript:;" class="btn btn-primary"><span
							class="glyphicon glyphicon-remove"
							style="font-size: large; cursor: pointer;" aria-hidden="true"></span></a>
					</div>
				</form>-->
				<div class="panel-footer">
					<a data-ng-hide="exercise.editMode" data-ng-click="toggleEdit(exercise)" href="javascript:;"><span
						class="glyphicon glyphicon-edit"
						style="font-size: large; cursor: pointer;" aria-hidden="true"></span></a>
					<a data-ng-click="deleteexercise(exercise)" href="javascript:;"><span
						class="glyphicon glyphicon-trash"
						style="font-size: large; cursor: pointer;" aria-hidden="true"></span></a>
				</div>                
            </div>
        </div>
    </div>
</div>