<div class="panel panel-default" ng-repeat="child in children">
 <div class="panel-body">
   <h4>{{ child.firstName }}&nbsp;{{ child.lastName }}</h4>
   <p>
     {{ child.birthDate }}
   </p>
   <p>
     {{ child.gender }}
   </p>
 </div>

 <div class="panel-footer">Rodapé | <a
     ng-href="/#/viewchild/{{ child.child_id }}">Coisas
   <span class="badge">count</span></a></div>
</div>


<!--<table st-table="childrenList" class="table table-striped">
	<thead>
	<tr>
		<th>Primeiro nome</th>
		<th>Último nome</th>
		<th>Género</th>
		<th>Username</th>
		<th>Password</th>
	</tr>
	</thead>
	<tbody>
	<tr ng-repeat="row in childrenList">
		<td>{{row.firstName}}</td>
		<td>{{row.lastName}}</td>
		<td>{{row.gender}}</td>
		<td>{{row.password}}</td>
	</tr>
	</tbody>
</table>-->