<div class="jumbotron">
  <h1>VITHEA Kids</h1>
  <p class="lead">
    <img src="images/VITHEAkidsLogo.png" alt="VK"><br>
    Virtual Therapist for Autism Treatment on Children
  </p>
  <p><a class="btn btn-lg btn-success" style="width:70%" ng-href="#/signup">Registar cuidador <span class="glyphicon glyphicon-ok"></span></a></p>
  <p><a class="btn btn-lg btn-success" style="width:70%" ng-href="#/login">Entrar <span class="glyphicon glyphicon-play"></span></a></p>
  <p><a class="btn btn-lg btn-success" style="width:70%" ng-href="#/">Baixar aplicação <span class="glyphicon glyphicon-download"></span></a></p>
</div>
