<form name="signupForm" ng-submit="signup()" novalidate>
  <div>
    <label for="username" data-i18n="common._Username_"></label>
    <input name="username" class="form-control" id="username" 
    	   data-i18n-attr="{placeholder: 'common._Username_'}" 
           ng-model="username">
  </div>
  <div>
    <label for="email" data-i18n="common._Email_"></label>
    <input name="email" class="form-control" type="email" id="email" 
    	   data-i18n-attr="{placeholder: 'common._Email_'}"
           ng-model="email">
    </div>
  <div>
    <label for="password" data-i18n="common._Password_"></label>
    <input name="password" class="form-control" type="password" id="password"
           data-i18n-attr="{placeholder: 'common._Password_'}" ng-model="password">

  </div>
  <div>
    <label for="passwordcheck" data-i18n="common._ConfirmPassword_"></label>
    <input name="passwordcheck" class="form-control" type="password" id="passwordcheck"
           data-i18n-attr="{placeholder: 'common._ConfirmPassword_'}" ng-model="passwordcheck">

  </div>
  <div>
    <label for="firstname" data-i18n="common._FirstName_"></label>
    <input name="firstname" class="form-control" id="firstname" 
			data-i18n-attr="{placeholder: 'common._FirstName_'}"
           ng-model="firstname">
  </div>
  <div>
    <label for="lastname" data-i18n="common._LastName_"></label>
    <input name="lastname" class="form-control" id="lastname" 
			data-i18n-attr="{placeholder: 'common._LastName_'}"
           ng-model="lastname">
  </div>
  
  <div>
  	<label for="gender" data-i18n="common._Gender_"></label><br>    
    <bs-dropdown data-menu-type="button" select-val="gender = selectedVal"
		preselected-item="selected_gender" data-dropdown-data="genders"></bs-dropdown>
  	<br>
  </div>
<br>  

  <button type="submit" class="btn btn-primary" data-i18n="common._SignUpBtn_"></button>
</form>
