
<h4> {{ truncate(this.questionDescription, 50)}}</h4>
<img *ngIf="this.stimulus" class="thumbnail" [src]="this.resourcePath">
<p>{{ truncate(this.topic, 25) }}&emsp;&emsp;{{ truncate(this.level, 25) }}</p>
<div class="col-md-6 col-sm-6" *ngFor="let answer of this.answers">
        <span *ngIf="answer.rightAnswer" class="glyphicon glyphicon-check" style="font-size: small;"></span>
        <span *ngIf="!answer.rightAnswer" class="glyphicon glyphicon-unchecked" style="font-size: small;"></span> 
        {{ truncate(answer?.answerDescription, 25) }}
</div>