<loader *ngIf="loading"></loader>
<div class="container">
    <h2 *ngIf="!resource.resourceId">{{ '_AddResourceBtn_' | translate }}</h2>
    <h2 *ngIf="resource.resourceId">{{ '_EditResource_' | translate }}</h2>

    <div style="height: 50px;">
        <p class="text-danger"> {{ '_Mandatory_' | translate }} </p>
    </div>

    <!-- escolher estimulo ou reforço -->

    <form (ngSubmit)="createResource()" #resourceForm="ngForm" class="col-md-8">
        <div class="row">
            <div class="form-group">
                <!-- mostrar preview da imagem"-->
                <label for="stimulus">{{ '_UploadStimulus_' | translate }} <span class="text-danger"> * </span></label>
                <file-upload [label]="'_Upload_'" [resourceType]="'stimuli'" (results)="updateStimuli($event)"></file-upload>
            </div>
        </div>
    </form>



    <!-- ver o disabled -->
    <div class="row">
        <a *ngIf="!resource.resourceId" type="button" (click)="createResource()" class="btn btn-success" [class.disabled]="!resourceForm.form.valid">
            <span class="glyphicon glyphicon-ok" style="font-size: small;" aria-hidden="true"></span> {{ '_CreateResource_' | translate }}
        </a>
        <a *ngIf="resource.resourceId" type="button" (click)="createResource()" class="btn btn-success" [class.disabled]="!resourceForm.form.valid">
            <span class="glyphicon glyphicon-ok" style="font-size: small;" aria-hidden="true"></span> {{ '_SaveChangesBtn_' | translate }}
        </a>
        <button [routerLink]="['/resources']" type="button" class="btn btn-secondary"> 
            <span class="glyphicon glyphicon-remove" style="font-size: small;" aria-hidden="true"></span> {{'_Cancel_' | translate }}
        </button>
    </div>

</div>