<div class="header" style="border:0">
    <div class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button *ngIf="caregiverService.isLoggedIn()" type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#js-navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" [routerLink]="['/']" style="padding:0;margin:0">
                    <img src="vithea-kids/assets/images/VITHEAkidsLogo.png" alt="VITHEA Kids" style="max-height:100%">
                </a>
            </div>
            <div class="collapse navbar-collapse" id="js-navbar-collapse" *ngIf="caregiverService.isLoggedIn()">
                <ul class="nav navbar-nav">
                    <li> <a [routerLink]="['/children']"><span class="glyphicon glyphicon-user other-icon"></span>{{'_Children_' | translate }} </a> </li>
                    <li> <a [routerLink]="['/exercises']"><span class="glyphicon glyphicon-file other-icon"></span> {{'_Exercises_' | translate }} </a> </li>
                    <li> <a [routerLink]="['/sequences']"><span class="glyphicon glyphicon-book other-icon"></span> {{'_Sequences_' | translate }} </a> </li>
                    <li> <a [routerLink]="['/resources']"><span class="glyphicon glyphicon-picture other-icon"></span> {{'_Resources_' | translate }} </a> </li>                    
                    <li> <a [routerLink]="['/statistics']"><span class="glyphicon glyphicon-picture other-icon"></span> {{'_Statistics_' | translate }} </a> </li>                    

                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown">{{caregiverService.getUsername()}} 
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a [routerLink]="['/editCaregiver']">{{'_EditCaregiver_' | translate }} <span class="glyphicon glyphicon-pencil pull-right"></span></a></li>
                            <li><a (click)="caregiverService.logout()">{{'_SignOut_' | translate }} <span class="glyphicon glyphicon-log-out pull-right log-out-icon"></span></a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid" style="margin-bottom: 50px;">
    <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">

    </div>
    <router-outlet></router-outlet>
</div>