<loader *ngIf="loading"></loader>
<div class="container" *ngIf="!loading">
    
    <div style="height: 50px;">
        <p class="text-danger"> {{ '_Mandatory_' | translate }} </p>
    </div>

    <form (ngSubmit)="registerExercise()" #exerciseForm="ngForm" class="col-md-8">

        <div class="row">
            <div *ngIf="topics" class="form-group">
                <label for="topic"> {{ '_Topic_' | translate }} <span class="text-danger"> * </span></label>
                <p *ngIf="topics?.length === 0">{{ '_NoTopics_' | translate }}</p>
                <div *ngIf="topics?.length > 0">
                    <p> {{ '_SelectTopic_' | translate }}</p>
                    <select class="form-control" id="topic" required [(ngModel)]="newExercise.topic" (ngModelChange)="validateTopic()" name="topic" #topic="ngModel">
                        <option *ngFor="let topic of topics" [value]="topic.topicId">{{ topic.topicDescription }}</option>
                    </select>
                </div>
                <div *ngIf="topicError" class="alert alert-danger">{{ '_RequiredTopic_' | translate }}</div>
            </div>
        </div>

        <div class="row">
            <div *ngIf="levels" class="form-group">
                <label for="level"> {{ '_Level_' | translate }} <span class="text-danger"> * </span></label>
                <p *ngIf="levels?.length === 0">{{ '_NoLevels_' | translate }}</p>
                <div *ngIf="levels?.length > 0">
                    <p> {{ '_SelectLevel_' | translate }}</p>
                    <select class="form-control" id="level" required [(ngModel)]="newExercise.level" (ngModelChange)="validateLevel()" name="level" #topic="ngModel">
                        <option *ngFor="let level of levels" [value]="level.levelId">{{ level.levelDescription }}</option>
                    </select>
                </div>
                <div *ngIf="levelError" class="alert alert-danger">{{ '_RequiredLevel_' | translate }}</div>
            </div>
        </div>

        <div class="row">
            <div class="form-group">
                <label for="question"> {{'_Question_' | translate }} <span class="text-danger"> * </span></label>
                <input type="text" class="form-control" id="question" required maxlength="100" [(ngModel)]="newExercise.question" (ngModelChange)="validateQuestion()" name="question" #question="ngModel">
                <div *ngIf="questionError" class="alert alert-danger"> {{ '_RequiredQuestion_' | translate }} </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group">
                <label for="stimulus"> {{ '_Stimulus_' | translate }} </label>
                <input class="form-control" id="stimulusText" maxlength="75" [(ngModel)]="newExercise.stimulusText" name="stimulusText" #stimulusText="ngModel">
            </div>
        </div>

        <div class="row">
            <br>
            <p> {{ '_SelectImagesAnswer_' | translate }}</p>
            <em *ngIf="rightAnswerImgs?.length === 0">{{ '_NoResources_' | translate }}</em>
                <div style="max-height: 120px; overflow-y: auto;">
                    <image-picker *ngIf=!loading id="rightAnswer" [(ngModel)]="rightAnswerImgs" [multiSelect]="false" [selected]="newExercise.rightAnswer" (onSelected)="validateRightAnswerImage()" name="rightAnswerImgs" #rightAnswer="ngModel">
                    </image-picker>
                </div>
                <div>
                    <br>
                    <button [routerLink]="[ '/exercises'] " type="button " class="btn btn-primary "> 
                       <span class="glyphicon glyphicon-plus" style="font-size: small; "></span> Acrescentar resposta correcta
                    </button>
                    <div *ngIf="rightAnswerImageError" class="alert alert-danger"> {{ '_RequiredRightAnswerImage_' | translate }} </div>
                </div>
        </div>

        <div class="row">
            <br>
            <p>{{ '_NoDistractors1_' | translate }}</p>
            <em *ngIf="answersImgs1?.length === 0">{{ '_NoResources_' | translate }}</em>
            <div style="max-height: 100px; overflow-y: auto; ">
                <image-picker *ngIf=!loading id="answersImgs1" [(ngModel)]="answersImgs1" [multiSelect]="false" [selected]="newExercise.distractor1" name="answersImgs1" #answersimg1="ngModel"> </image-picker>
            </div>
            <br>
            <p>{{ '_NoDistractors2_' | translate }}</p>
            <em *ngIf="answersImgs2?.length === 0">{{ '_NoResources_' | translate }}</em>
            <div style="max-height: 100px; overflow-y: auto; ">
                <image-picker *ngIf=!loading id="answersImgs2" [(ngModel)]="answersImgs2" [multiSelect]="false" [selected]="newExercise.distractor2" name="answersImgs2" #answersimg2="ngModel"> </image-picker>
            </div>
            <br>
            <p>{{ '_NoDistractors3_' | translate }}</p>
            <em *ngIf="answersImgs3?.length === 0">{{ '_NoResources_' | translate }}</em>
            <div style="max-height: 100px; overflow-y: auto; ">
                <image-picker *ngIf=!loading id="answersImgs3" [(ngModel)]="answersImgs3" [multiSelect]="false" [selected]="newExercise.distractor3" name="answersImgs3" #answersimg3="ngModel"> </image-picker>
            </div>
            <br/>
        </div>

        <div style="height: 70px; ">
            <div *ngIf="error " class="alert alert-danger "> {{ error | translate }} </div>
            <loader *ngIf="loadingAdd " [height]="50"></loader>
        </div>

        <div class="row ">
            <a type="button" (click)="submit()" class=" btn btn-success">
                <span class=" glyphicon glyphicon-ok " style="font-size: small; " aria-hidden="true "></span> {{ '_CreateExercise_' | translate }}
            </a>
            <button [routerLink]="[ '/exercises'] " type="button " class="btn btn-secondary "> 
                <span class="glyphicon glyphicon-remove " style="font-size: small; " aria-hidden="true "></span> {{'_Cancel_' | translate }}
            </button>
        </div>
    </form>
</div>