<loader *ngIf="loading"></loader>
<div class="container" *ngIf="!loading">
    
    <div style="height: 50px;">
        <p class="text-danger"> {{ '_Mandatory_' | translate }} </p>
    </div>

    <form (ngSubmit)="registerExercise()" #exerciseForm="ngForm" class="col-md-8">

        <div class="row">
            <div *ngIf="topics" class="form-group">
                <label for="topic"> {{ '_Topic_' | translate }} <span class="text-danger"> * </span></label>
                <p *ngIf="topics?.length === 0">{{ '_NoTopics_' | translate }}</p>
                <div *ngIf="topics?.length > 0">
                    <p> {{ '_SelectTopic_' | translate }}</p>
                    <select class="form-control" id="topic" required [(ngModel)]="this.topic" (ngModelChange)="validateTopic()" name="topic">
                        <option *ngFor="let topic of topics" [value]="topic.topicId">{{ topic.topicDescription }}</option>
                    </select>
                </div>
                <div *ngIf="topicError" class="alert alert-danger">{{ '_RequiredTopic_' | translate }}</div>
            </div>
        </div>

        <div class="row">
            <div *ngIf="levels" class="form-group">
                <label for="level"> {{ '_Level_' | translate }} <span class="text-danger"> * </span></label>
                <p *ngIf="levels?.length === 0">{{ '_NoLevels_' | translate }}</p>
                <div *ngIf="levels?.length > 0">
                    <p> {{ '_SelectLevel_' | translate }}</p>
                    <select class="form-control" id="level" required [(ngModel)]="this.level" (ngModelChange)="validateLevel()" name="level">
                        <option *ngFor="let level of levels" [value]="level.levelId">{{ level.levelDescription }}</option>
                    </select>
                </div>
                <div *ngIf="levelError" class="alert alert-danger">{{ '_RequiredLevel_' | translate }}</div>
            </div>
        </div>

        <div class="row">
            <div class="form-group">
                <label for="question"> {{'_Question_' | translate }} <span class="text-danger"> * </span></label>
                <input type="text" class="form-control" id="question" required maxlength="100" [(ngModel)]="this.question" (input)="validateQuestion()" name="question">
                <div *ngIf="questionError" class="alert alert-danger"> {{ '_RequiredQuestion_' | translate }} </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group">
                <label for="stimulus"> {{ '_Stimulus_' | translate }} </label>
                <input class="form-control" id="stimulusText" maxlength="75" [(ngModel)]="this.stimulus" name="stimulusText">
            </div>
        </div>
        
        <div class="row">
            <label for="answer"> {{ '_Answer_' | translate }} <span class="text-danger"> * </span></label>
            <br>
            <p> {{ '_SelectImagesAnswer_' | translate }}</p>
            <em *ngIf="rightAnswerImgs1?.length === 0">{{ '_NoResources_' | translate }}</em>
                <div *ngIf="numRightAnswers >= 1" style="max-height: 100px; overflow-y: auto;">
                    <image-picker *ngIf=!loading id="rightAnswerImgs1" [(ngModel)]="rightAnswerImgs1" [multiSelect]="false" [selected]="this.rightAnswerImgs1" (onSelected)="validateRightAnswerImage()" name="rightAnswerImgs1"> </image-picker>
                </div>
                <div *ngIf="numRightAnswers >= 2" style="max-height: 100px; overflow-y: auto;">
                    <image-picker *ngIf=!loading id="rightAnswerImgs2" [(ngModel)]="rightAnswerImgs2" [multiSelect]="false" [selected]="this.rightAnswerImgs2" (onSelected)="validateRightAnswerImage()" name="rightAnswerImgs2"> </image-picker>
                </div>
                <div *ngIf="numRightAnswers >= 3" style="max-height: 100px; overflow-y: auto;">
                    <image-picker *ngIf=!loading id="rightAnswerImgs3" [(ngModel)]="rightAnswerImgs3" [multiSelect]="false" [selected]="this.rightAnswerImgs3" (onSelected)="validateRightAnswerImage()" name="rightAnswerImgs3"> </image-picker>
                </div>
                <div>
                    <a *ngIf="numRightAnswers < 3 && rightAnswerImgs?.length != 0" type="button " (click)="addRightAnswer()" class="btn btn-primary "> 
                            <span class="glyphicon glyphicon-plus" style="font-size: small; "></span> Acrescentar resposta
                        </a>
                    <div *ngIf="rightAnswerImageError && !rightAnswerImgs1.length===0" class="alert alert-danger"> {{ '_RequiredRightAnswerImage_' | translate }} </div>
                </div>
        </div>

        <div class="row">
                <br>
                <label for="answer"> {{ '_Distractors_' | translate }} <span class="text-danger"> * </span></label>
                <p> {{ '_SelectImagesDistractor_' | translate }}</p>
                <em *ngIf="distractorImgs1?.length === 0">{{ '_NoDistractors1_' | translate }}</em>
                    <div *ngIf="numDistractors >= 1" style="max-height: 100px; overflow-y: auto;">
                        <image-picker *ngIf=!loading id="distractorImgs1" [(ngModel)]="distractorImgs1" [multiSelect]="false" [selected]="this.distractorImgs1" name="distractorImgs1"> </image-picker>
                    </div>
                    <div *ngIf="numDistractors >= 2" style="max-height: 100px; overflow-y: auto;">
                        <image-picker *ngIf=!loading id="distractorImgs2" [(ngModel)]="distractorImgs2" [multiSelect]="false" [selected]="this.distractorImgs2" name="distractorImgs2"> </image-picker>
                    </div>
                    <div *ngIf="numDistractors >= 3" style="max-height: 100px; overflow-y: auto;">
                        <image-picker *ngIf=!loading id="distractorImgs3" [(ngModel)]="distractorImgs3" [multiSelect]="false" [selected]="this.distractorImgs3" name="distractorImgs3"> </image-picker>
                    </div>
                    <div>
                        <a *ngIf="numDistractors < 3 && distractorImgs?.length != 0" type="button " (click)="addDistractor()" class="btn btn-primary "> 
                            <span class="glyphicon glyphicon-plus" style="font-size: small; "></span> Acrescentar distrator
                        </a>
                    </div>
            </div>

        <div style="height: 70px; ">
            <div *ngIf="error " class="alert alert-danger "> {{ error | translate }} </div>
            <loader *ngIf="loadingAdd " [height]="50"></loader>
        </div>

        <div class="row ">
            <a type="button" (click)="submit()" class=" btn btn-success">
                <span class=" glyphicon glyphicon-ok " style="font-size: small; " aria-hidden="true "></span> {{ '_CreateExercise_' | translate }}
            </a>
            <button [routerLink]="[ '/exercises'] " type="button " class="btn btn-secondary "> 
                <span class="glyphicon glyphicon-remove " style="font-size: small; " aria-hidden="true "></span> {{'_Cancel_' | translate }}
            </button>
        </div>
    </form>
</div>