<div class="container">
    <div class=row>
        <h2>{{ '_AnimatedCharacter_' | translate }}</h2>
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="form-group">
                    <image-picker [(ngModel)]="animatedCharactersResources" [multiSelect]="false" name="animatedCharacter"></image-picker>
                </div>
                <div class="form-group">
                    <label for="avatarName"> {{'_Name_' | translate }} </label>
                    <input type="text" class="form-control" id="avatarName" required [(ngModel)]="avatarName" name="avatarName">
                </div>
                <file-upload [label]="'_UploadAvatar_'" [resourceType]="'animatedcharacter'" [name]="avatarName" (results)="updateAnimatedCharacters($event)"></file-upload>
            </div>
        </div>
    </div>
    <div class=row>
        <h2>{{ '_UploadExercisesCsv_' | translate }}</h2>
        <div class="panel panel-default">
            <div class="panel-body">
                <file-upload [label]="'_UploadCSV_'" [resourceType]="'csvfile'" [name]="avatarName" (results)="updateFileCsv($event)"></file-upload>
            </div>
        </div>
    </div>
</div>