<div class="container">
    <div class=row>
        <h2>{{ '_Resources_' | translate }}</h2>
    </div>

    <div class="row">
        <div class="panel-default pull-right">
            <a type="button" class="btn btn-default" (click)="goBack()">
                <span class="glyphicon glyphicon-arrow-left" style="font-size: small;" aria-hidden="true"></span> {{'_GoBack_' | translate }}
            </a>
            <a type="button" class="btn btn-primary" [routerLink]="['/resources/new']">
                <span class="glyphicon glyphicon-plus" style="font-size: small;"></span> {{ '_AddResource_' | translate }}
            </a>
        </div>
    </div>

    <div class=row style="height: 50px;">
    </div>

    <div class="row">
        <loader *ngIf="loading"></loader>
        <div *ngIf="!loading">
            <p *ngIf="resources?.length === 0">{{ '_NoResources_' | translate }}</p>
            <div class="col-md-3 col-sm-4" *ngFor="let resource of pagedItems">
                <div class="panel panel-default" style="text-align: center" *ngIf="!loading">
                    <div style="min-height: 190px">
                        <img *ngIf="resource" class="thumbnail" [src]="'vithea-kids/assets/' + resource.resourcePath">
                    </div>
                    <div class="panel-heading">
                        <button type="button" class="btn btn-primary" disabled [routerLink]="['/resources/' + resource.resourceId + '/edit']">
                            <span class="glyphicon glyphicon-pencil" style="font-size: small;"></span> {{ '_Edit_' | translate }}
                        </button>
                        <button type="button" class="btn btn-danger" (click)="deleteResource(resource.resourceId)">
                            <span class="glyphicon glyphicon-trash" style="font-size: small;"></span> {{ '_Delete_' | translate }}
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- pager -->
    <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
        <li [ngClass]="{disabled:pager.currentPage === 1}">
            <a (click)="setPage(1)">{{ '_First_' | translate }}</a>
        </li>
        <li [ngClass]="{disabled:pager.currentPage === 1}">
            <a (click)="setPage(pager.currentPage - 1)">{{ '_Previous_' | translate }}</a>
        </li>
        <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
            <a (click)="setPage(page)">{{page}}</a>
        </li>
        <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
            <a (click)="setPage(pager.currentPage + 1)">{{ '_Next_' | translate }}</a>
        </li>
        <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
            <a (click)="setPage(pager.totalPages)">{{ '_Last_' | translate }}</a>
        </li>
    </ul>

</div>