<loader *ngIf="loading"></loader>
<div class="container" *ngIf="!loading">

    <div class="row">
        <div class="panel-default pull-right">
            <a type="button" class="btn btn-default" (click)="goBack()">
                <span class="glyphicon glyphicon-arrow-left" style="font-size: small;" aria-hidden="true"></span> {{'_GoBack_' | translate }}
            </a>
        </div>
    </div>

    <div class="row">
        <h2>{{ '_EditExercise_' | translate }}</h2>
    </div>

    <div class="row">
        <div *ngIf="type == 'multiplechoice-text'">
            <app-edit-exercise-mc-text></app-edit-exercise-mc-text>
        </div>

        <div *ngIf="type == 'multiplechoice-image'">
            <app-edit-exercise-mc-image></app-edit-exercise-mc-image>
        </div>
    </div>

</div>